@model NavigatorBarModel
@{ ViewBag.Title = "部门详情";
    Layout = "_Default"; }
@section css {
    <environment include="Development">
        <link href="~/lib/nestable2/jquery.nestable.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/nestable2/jquery.nestable.min.css" rel="stylesheet" />
    </environment>
    <link href="~/lib/treegrid/css/jquery.treegrid.css" rel="stylesheet" />
    <link href="~/lib/longbow-select/longbow-select.css" rel="stylesheet" />
    <link href="~/css/fa.css" rel="stylesheet" asp-append-version="true" />

    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
        }
    </style>
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/nestable2/jquery.nestable.js"></script>
        <script src="~/lib/bootstrap-3-typeahead/bootstrap3-typeahead.js"></script>
        <script src="~/lib/treegrid/js/jquery.treegrid.js"></script>
        <script src="~/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/nestable2/jquery.nestable.min.js"></script>
        <script src="~/lib/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>
        <script src="~/lib/treegrid/js/jquery.treegrid.min.js"></script>
        <script src="~/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
    </environment>
    <script src="~/lib/longbow-select/longbow-select.js"></script>
    <script type="text/javascript" src="~/js/echarts.min.js"></script>
    <script src="~/js/departmentdetails.js" asp-append-version="true"></script>

}


<form enctype="multipart/form-data" data-toggle="LgbValidate" data-valid-button=".btnSubmit">
    <input hidden id="id" value="@ViewBag.id" />
    <div class="row">
        <div class="form-group col-6">
            <label class="control-label">部门名称</label>
            <input id="name" name="name" class="form-control" placeholder="部门名称" data-valid="true" readonly="readonly" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">部门名称en</label>
            <input id="name_en" name="name_en" class="form-control" placeholder="请输入部门名称en" data-valid="true" readonly="readonly" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">部门领导</label>
            <input id="department_leader" name="department_leader" class="form-control" placeholder="请输入部门领导" data-valid="true" readonly="readonly" />
        </div>
        <div class="form-group col-6">
            <label class="control-label">部门id</label>
            <input id="department_id" name="department_id" class="form-control" placeholder="请输入部门id" data-valid="true" readonly="readonly" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">授权</label>
            <input id="permission" name="permission" class="form-control" placeholder="请输入授权" data-valid="true" readonly="readonly" />
        </div>

    </div>



    <div class="form-group row">
        <div class="col-sm-10">
            <a asp-action="DepartmentList" class="btn btn-info">返回</a>
            <a class="btn btn-primary" href="/ClientManagement/DepartmentEdit/@ViewBag.id">编辑</a>
        </div>
    </div>



</form>
