@model NavigatorBarModel
@{ ViewBag.Title = "新建人员";
    Layout = "_Default"; }
@section css {
    <environment include="Development">
        <link href="~/lib/nestable2/jquery.nestable.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/nestable2/jquery.nestable.min.css" rel="stylesheet" />
    </environment>
    <link href="~/lib/treegrid/css/jquery.treegrid.css" rel="stylesheet" />
    <link href="~/lib/longbow-select/longbow-select.css" rel="stylesheet" />
    <link href="~/css/fa.css" rel="stylesheet" asp-append-version="true" />

    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
        }
    </style>
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/nestable2/jquery.nestable.js"></script>
        <script src="~/lib/bootstrap-3-typeahead/bootstrap3-typeahead.js"></script>
        <script src="~/lib/treegrid/js/jquery.treegrid.js"></script>
        <script src="~/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/nestable2/jquery.nestable.min.js"></script>
        <script src="~/lib/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>
        <script src="~/lib/treegrid/js/jquery.treegrid.min.js"></script>
        <script src="~/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
    </environment>
    <script src="~/lib/longbow-select/longbow-select.js"></script>
    <script type="text/javascript" src="~/js/echarts.min.js"></script>
    <script src="~/js/staffcreate.js" asp-append-version="true"></script>
}


<form enctype="multipart/form-data" data-toggle="LgbValidate" data-valid-button=".btnSubmit">
    <div class="row">
        <div class="form-group col-6">
            <label class="control-label">用户id</label>
            <input id="userid" name="userid" class="form-control" placeholder="请输入用户id" data-valid="true" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">昵称</label>
            <input id="nickname" name="nickname" class="form-control" placeholder="请输入昵称" data-valid="true" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">性别</label>
            <input id="sex" name="sex" class="form-control" placeholder="请输入性别" data-valid="true" />
        </div>


        <div class="form-group col-6">
            <label class="control-label">省份</label>
            <input id="province" name="province" class="form-control" placeholder="请输入省份" data-valid="true" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">城市</label>
            <input id="city" name="city" class="form-control" placeholder="请输入城市" data-valid="true" />
        </div>


        <div class="form-group col-6">
            <label class="control-label">国家</label>
            <input id="country" name="country" class="form-control" placeholder="请输入国家" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">UnionId</label>
            <input id="unionid" name="unionid" class="form-control" placeholder="请输入unionid" />
        </div>

        <div class="form-group col-6">
            <label class="control-label">open_userid</label>
            <input id="open_userid" name="open_userid" class="form-control" placeholder="请输入open_userid" />
        </div>

        <div class="form-group col-12">
            <label class="control-label">允许登录</label>
            <input class="form-control" data-toggle="lgbSelect" data-default-val="0" />
            <select data-toggle="lgbSelect" class="d-none" id="permission">
                <option value="0">拒绝</option>
                <option value="1">允许</option>
            </select>
        </div>

        <div class="form-group col-3">
            <label class="control-label">用户头像</label>
            <img id="headimgurl" class="card-img" src="~/images/Default Img.jpg" />
        </div>
    </div>



    <div class="form-group row">
        <div class="col-sm-10">
            <span id="return_without_save_span" style="display: none">
                <span>没有保存，返回？</span>
                <a asp-action="StaffList" class="btn btn-info">返回</a>
                <a href="#"
                   class="btn btn-primary"
                   onclick="cancelback()">
                    否
                </a>
            </span>
            <span id="return_without_save_button">
                <a href="#" class="btn btn-danger" onclick="return_without_save()">返回</a>
            </span>
            <button id="create_submit_btn" type="button" class="btnSubmit btn btn-primary">创建</button>
        </div>
    </div>


</form>


